* {
    all: unset
}

.bar {
    background-color: rgb(55, 55, 55);
    border-radius: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.time {
    color: rgb(225, 225, 225);
    font: 18px SpaceMonoBold, Bold;
}

.button {
    background-color: red;
}

.sub {
    background-color: red;
}
